:root {
  --bgc: #211e20;
  --bgc2: #555568;
  --fgc: #a0a08b;
  --fgc2: #e9efec;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
canvas {
  background-color: var(--bgc);
}
