:root {
  --bgc: #211e20;
  --bgc2: #555568;
  --fgc: #a0a08b;
  --fgc2: #e9efec;
  --acc: #e20fa0;
}
body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}
#container {
  position: relative;
}
body,
#container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
canvas {
  background-color: var(--bgc);
}

#menu {
  color: var(--fgc2);
  position: absolute;
  font-size: x-large;
  font-weight: bolder;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
  padding: 10px 20px;
}

#hamburger {
  height: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 0.4;
  cursor: pointer;
}

#hamburger,
#hamburger::after,
#hamburger::before {
  content: '––';
}
#hamburger:hover {
  filter: drop-shadow(0 0 12px var(--acc));
}

button {
  width: 240px;
  height: 50px;
  margin: 20px 0px 0px 0px;
  background-color: var(--fgc2);
  color: var(--bgc);
  border: none;
  border-radius: 4px;
  font-size: large;
  font-weight: bolder;
}
button:disabled {
  background-color: lightgray;
  color: darkgray;
  cursor: not-allowed;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bgc);
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.close-icon {
  position: absolute;
  top: 100px;
  right: 100px;
  cursor: pointer;
}
.close-icon:hover {
  filter: drop-shadow(0 0 12px var(--acc)) brightness(2);
}

.level-item {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  background-color: var(--fgc2);
}
#levels-grid {
  width: 640px;
  height: 440px;
  min-height: 440px;
  overflow-y: auto;
  scroll-behavior: smooth;
  grid-template-columns: repeat(4, 150px);
  justify-content: center;
  row-gap: 60px;
  display: grid;
  justify-items: center;
}
#levels-grid::-webkit-scrollbar,
#bonus-grid::-webkit-scrollbar {
  display: none;
}
.bonus-item {
  cursor: pointer;
  background: none;
  border-radius: 4px;
}
.bonus-item:hover {
  box-shadow: inset 0px 0px 100px -50px var(--acc);
}
#bonus-grid {
}
#bonus-grid > canvas {
  width: 200px;
  height: 200px;
}
.hide {
  display: none !important; /* XXX Override any other display settings on the element */
}
